This code is an introduction to supervised learning solving a classification problem using **decision trees**.
It follows [this tutorial](https://youtu.be/7eh4d6sabA0).

# **Classification Problem**
We will follow these steps of solving a machine learning problem.


1. Import the Data
2. Clean the Data
3. split the Data into Training/ Test steps
4. Create a Model
5. Train the Model
6. Make Predictions
7. Evaluate and improve

# Problem description
Enter in the text cell below what you will be predicting in this classification problem (y) and which columns will be used in the prediction (X)

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree

1. Import the Data.

In [3]:
df = pd.read_csv('historical_tuition.csv')
df['single_year'] = df['year'].str[:4]
df

                 type     year     tuition_type  tuition_cost single_year
0    All Institutions  1985-86     All Constant         10893        1985
1    All Institutions  1985-86  4 Year Constant         12274        1985
2    All Institutions  1985-86  2 Year Constant          7508        1985
3    All Institutions  1985-86      All Current          4885        1985
4    All Institutions  1985-86   4 Year Current          5504        1985
..                ...      ...              ...           ...         ...
265           Private  2016-17  4 Year Constant         41468        2016
266           Private  2016-17  2 Year Constant         24882        2016
267           Private  2016-17      All Current         40925        2016
268           Private  2016-17   4 Year Current         41468        2016
269           Private  2016-17   2 Year Current         24882        2016

[270 rows x 5 columns]

2. Display columns and describe the data set

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          270 non-null    object
 1   year          270 non-null    object
 2   tuition_type  270 non-null    object
 3   tuition_cost  270 non-null    int64
 4   single_year   270 non-null    object
dtypes: int64(1), object(4)
memory usage: 10.7+ KB

In [5]:
df.describe()

       tuition_cost
count    270.000000
mean   17597.366667
std     9201.448660
min     2981.000000
25%     9796.500000
50%    16983.000000
75%    23574.000000
max    41468.000000

3. Prepare Data

In [6]:
# Run this section to inspect X
X = df.drop(columns = ['type', 'tuition_cost', 'tuition_type', 'year'])
#X = df.drop(columns = ['name', 'state', 'campus'])
#X = df.drop_duplicates(subset='year', keep="first")

X = X.values.reshape(-1,1)
X

In [7]:
# Uncomment this section to inpect y
y = df['tuition_cost']
y = y.values.reshape(-1, 1)
y

4. Calculate accuracy

In [11]:
# Train 80% of the data set and use the rest to test
#X_train, X_test, y_train, y_test = train_test_split(
                                    #X, y, test_size=0.2)

#model = DecisionTreeClassifier()
#model.fit(X_train, y_train)
#predictions = model.predict(X_test)

# Compute model accuracy
#score = accuracy_score(y_test, predictions)
#score
model = LinearRegression()
model.fit(X, y)
model = LinearRegression().fit(X, y)
#coefficient of determination
r_sq = model.score(X, y)
r_sq


y_pred = model.predict(X)
y_pred

5. Persisting Models

In [6]:
# Save the model to file
joblib.dump(model, 'MODELNAME.joblib')

5.b. Import the model and make predictions

In [7]:
# Load saved model. Make sure that you have run the previous
# section at least once, and that the file exists.

model = joblib.load('MODELNAME.joblib')
predictions = model.predict(X_test)
predictions

6. (Optional) Visualize decision trees

In [8]:
tree.export_graphviz(model, out_file = 'MODELNAME.dot',
                    feature_names = X.columns, 
                    class_names = str(sorted(y.unique())), 
                    label = 'all',
                    rounded = True, 
                    filled = True)

#Download the file music-recommender.dot and open it in VS Code.